<h1 *ngIf="por">Olá, meu nome é Paulo Junior e eu sou Desenvolvedor Front-end,
  Tecnologias que tenho experiência:</h1>
<h1 *ngIf="usa">Hi, my name is Paulo Junior and I'm a Front-end Developer,
  Technologies I have experience:</h1>
<h1 *ngIf="esp">Hola, mi nombre es Paulo Junior y soy desarrollador front-end,
  Tecnologías en las que tengo experiencia:</h1>



<button class="btnBr" (click)="porTranslate()"> <img src="../../../assets/icons/brazil.svg" class="iconBr">
  <p class="icon1">Português</p>
</button>
<button class="btnUs" (click)="usaTranslate()"> <img src="../../../assets/icons/united-states.svg" class="iconUs">
  <p class="icon2">Inglês</p>
</button>
<button class="btnEs" (click)="espTranslate()"> <img src="../../../assets/icons/spain 2.svg" class="iconEs">
  <p class="icon3">Espanhol</p>
</button>
