h1 {
  position: absolute;
  width: 791px;
  height: 76px;
  left: 325px;
  top: 168px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  text-align: center;

  color: #FFFFFF;
}

.btnBr {
  position: absolute;
  width: 133px;
  height: 51px;
  left: 470px;
  top: 550px;
  background: #27272A;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
}

.btnUs {
  position: absolute;
  width: 133px;
  height: 51px;
  left: 653px;
  top: 550px;
  background: #27272A;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
}

.btnEs {
  position: absolute;
  width: 133px;
  height: 51px;
  left: 836px;
  top: 550px;
  background: #27272A;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
}

.icon1 {
  position: absolute;
  width: 81px;
  height: 26px;
  left: 40px;
  top: 12px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #EDEDED;
}

.icon2{
  position: absolute;
  width: 81px;
  height: 26px;
  left: 40px;
  top: 12px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #EDEDED;
}

.icon3{
  position: absolute;
  width: 81px;
  height: 26px;
  left: 40px;
  top: 12px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #EDEDED;
}

.iconBr{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 15px;
  top: 14px;
}

.iconUs{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 15px;
  top: 14px;
}

.iconEs{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 15px;
  top: 14px;
}
